data/raw/*
data/processed/*
rag_store/


# =====================
# PyCharm / JetBrains
# =====================
.idea/
*.iml

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/
env/
.venv
.env

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
